* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  background-color: #ffe2c1;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

header .top {
  display: flex;
}

header .top .lft {
  width: 30%;
}

header .top .mdl {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .top .mdl h2 {
  font-size: 40px;
  color: #fa6800;
}

header .top .rgt {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .top .rgt .profile {
  width: 140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #feb663;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #002d68;
}

header .top .rgt .profile i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .bottom p {
  width: 240px;
  font-size: 16px;
  height: auto;
  color: #fff;
  padding: 10px 15px;
  font-weight: 100;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ffa640;
  border-radius: 5px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 60%;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin: 18px 20px;
}

main .container input {
  width: 100%;
  padding: 15px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f6f6;
}

main .container input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

main .container #location {
  padding: 13px 15px;
  font-size: 15px;
}

main .row {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

main .row .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

main .row .col p, .fav-p {
  font-size: 20px;
  font-weight: 400;
  margin: 10px auto;
  text-decoration: underline;
}

main .row .col .grid {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

main .row .col .grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}

/* here i did it */
main .row .col .grid div img {
  width: 8vw;
  border-top-right-radius: 15px;
  /* border-bottom-left-radius: 15px; */
  margin: 0px auto;
  image-rendering: pixelated;
}

main .row .col .grid div p {
  font-size: 14px;
  text-decoration: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8px 2px;
  background-color: #fa6800;
  outline: none;
  border: none;
  /* border-top-left-radius: 5px; */
  border-bottom-right-radius: 5px;
  color: #ffe2c1;
  font-weight: 500;
}

main .fav-food {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  align-content: center;
  gap: 10px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 15px;
}

main .fav-food-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

main .fav-food-row .col {
  /* width: ; */
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main .fav-food-row .col img {
  width: 6vw;
  height: 8vh;
  background-image: url("./food.jpg");
  background-size: 6vw 8vh;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border-radius: 5px;
}

main .fav-food-row .col p {
  font-size: 14px;
  text-decoration: none;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8px 2px;
  background-color: #fa6800;
  outline: none;
  border: none;
  /* border-top-left-radius: 5px; */
  border-bottom-right-radius: 5px;
  color: #ffe2c1;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 5px;
}

footer {
  width: 100%;
  background-color: #feb663;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}

footer .foot-top {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
}

footer .foot-top div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

footer .foot-top div p {
  color: #A44400;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
}

footer .foot-top div ul {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

footer .foot-top div ul.link li {
  width: 100%;
  display: flex;
  justify-content: start;
}

footer .foot-top div ul li a {
  text-decoration: none;
  color: #414141;
}

footer .foot-top div ul.link li a {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

footer .foot-top div ul.link li a i {
  font-size: 20px;
}

footer .foot-top div ul li a.pre {
  color: #ff0000;
}

footer .foot-bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #686868;
}

footer .foot-bot span {
  color: #000;
  margin-left: 3px;
}